*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#root{
    display: flex;
    margin: auto;
    max-width: 1180px;
    align-items: center;
    justify-content: center;
}

.email-container{
    width: 750px;
    margin-top: 10px;
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 100px 100px 100px 100px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.email-container li{
    line-height: 100px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
